# Ignore everything by default

-

# Allow files explicitly

!dist/**
!public/**
!src/\*\*
**tests**

!app.yaml
!babel.config.cjs
!index.html
!package.json
!postcss.config.cjs
!svelte.config.js
!tailwind.config.cjs
!tsconfig.json
!vite.config.js
!yarn.lock
!bun.lockb
