@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  padding: 2rem;
}

.text-neon {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

.border-neon {
  box-shadow: 0 0 1px #d8b4fe, 0 0 2px #d8b4fe, 0 0 6px #d8b4fe,
    0 0 12px #d8b4fe, inset 0 0 1px #d8b4fe, inset 0 0 2px #d8b4fe,
    inset 0 0 6px #d8b4fe, inset 0 0 12px #d8b4fe;
}
