@mixin neon-border($width, $color) {
  box-shadow: 0 0 $width $color, 0 0 ($width * 2) $color,
    0 0 ($width * 6) $color, 0 0 ($width * 12) $color, inset 0 0 $width $color,
    inset 0 0 ($width * 2) $color, inset 0 0 ($width * 6) $color,
    inset 0 0 ($width * 12) $color;
}

@mixin neon-text($width, $color1, $color2: $color1) {
  text-shadow: 0 0 $width $color1, 0 0 ($width * 2) $color1,
    0 0 ($width * 3) $color1, 0 0 ($width * 6) $color2,
    0 0 ($width * 12) $color2, 0 0 ($width * 13) $color2,
    0 0 ($width * 15) $color2, 0 0 ($width * 22) $color2;
}

.border-neon {
  @include neon-border(1px, $purple-300);
}

.text-neon {
  @include neon-text(2px, $purple-300, $purple-900);
}

@keyframes pulsate {
  100% {
    @include neon-text(1px, $purple-300, $purple-900);
  }

  0% {
    @include neon-text(4px, $purple-300, $purple-900);
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    @include neon-text(2px, $purple-300, $purple-900);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
