$neon-text-shadow: 0 0 7px $purple-300, 0 0 10px $purple-300,
  0 0 21px $purple-300, 0 0 42px $purple-900, 0 0 82px $purple-900,
  0 0 92px $purple-900, 0 0 102px $purple-900, 0 0 151px $purple-900;

.border-neon {
  box-shadow: 0 0 1px $purple-300, 0 0 2px $purple-300, 0 0 6px $purple-300,
    0 0 12px $purple-300, inset 0 0 1px $purple-300, inset 0 0 2px $purple-300,
    inset 0 0 6px $purple-300, inset 0 0 12px $purple-300;
}

.text-neon {
  text-shadow: $neon-text-shadow;
}

@keyframes pulsate {
  100% {
    text-shadow: $neon-text-shadow;
  }

  0% {
    text-shadow: 0 0 3px $purple-300, 0 0 5px $purple-300, 0 0 10px $purple-300,
      0 0 21px $purple-900, 0 0 41px $purple-900, 0 0 46px $purple-900,
      0 0 51px $purple-900, 0 0 75px $purple-900;
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: $neon-text-shadow;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
